@{
    ViewData["Title"] = "Home Page";
}
<div class="rounded-bottom">
 
    <div id="carouselExampleFade" class="carousel slide carousel-fade rounded" data-ride="carousel" > 

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 rounded" src="~/assets/Imagens/img-caro.jpg" alt="Primeiro Slide">
              <div class="carousel-caption d-none d-md-block">
                <h5><i class="fas fa-globe-americas"></i> Trabalhamos para te dar o melhor conforto <i class="fab fa-gratipay"></i></h5>
                <p>♥ ♥ ♥ ♥</p>
              </div>
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 rounded" src="" alt="Segundo Slide" height="350">
            </div>

            <div class="carousel-item">
              <img class="d-block w-100 rounded" src="" alt="Terceiro Slide" height="350">
            </div>

          </div>

          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark text-white rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-dark text-white rounded-circle" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
</div>

   
</div>

<div class="rounded mt-5 mb-5">
        <h3 class="text-center pt-4 pb-4"> <i class="fas fa-couch"></i> BIG HOTEL É CONFORTO</h3>
</div>

<div class="container mt-5 mb-5">
      <div class="row">
          <div class="col-sm-6"> 
              <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/f7/8b/38/exterior.jpg?w=900&h=-1&s=1" class="img-fluid rounded border border-dark"  width="650" height="650"/>
          </div>
          <div class="col-sm-6 pt-4"> 
               <div class="text-center">
                   <h5 class="text-center" > HISTÓRIA DO HOTEL</h5>
                   <p class="">
                       Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Praesent 
                       malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Praesent vel viverra nisi.
                       Mauris aliquet nunc non turpis scelerisque, eget. Delegadis gente finis, bibendum egestas augue arcu ut est.
                       Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Leite de capivaris, leite de mula manquis
                       sem cabeça. Quem num gosta di mim que vai caçá sua turmis! Cevadis im ampola pa arma uma pindureta.
                    </p>
                    <blockquote class="blockquote">
                       <p class="mb-0"></p>
                       <footer class="blockquote-footer">Alguém famoso na <cite title="Título da fonte">Título da fonte</cite></footer>
                    </blockquote>
               </div>
          </div>  
      </div>
</div>

    <h3 href="#galeria" class="text-center mt-5 mb-5"> GALERIA <i class="far fa-image"></i> </h3>

<div class="container mb-5 mt-3">

    <div id="album-rotator">

        <div id="album-rotator-holder">

            <div class="container">              
                   <div class="d-flex justify-content-center">

                    <a target="_top" class="album-item cardBar" href="">
                        <span class="album-details text-center">
                            <span class="icon"><i class="fab fa-zhihu"></i> Restaurante / Bar</span>
                            <span class="title"></span>
                            <span class="subtitle"></span>
                            <span class="subtext fs-3" href="#"><i class="fas fa-beer"></i>  <i class="fas fa-hamburger"></i></span>
                        </span>
                    </a>

                    <a target="_top" class="album-item cardQuarto" href="">
                        <span class="album-details text-center">
                            <span class="icon"><i class="fab fa-zhihu"></i> Quartos</span>
                            <span class="title"></span>
                            <span class="subtitle"></span>
                            <span class="subtext fs-3" href="#"><i class="fas fa-bed"></i> <i class="fas fa-bath"></i></span>
                        </span>
                    </a>

                    <a target="_top" class="album-item cardLazer" href="">
                        <span class="album-details text-center">
                            <span class="icon"><i class="fab fa-zhihu"></i> Área de lazer</span>
                            <span class="title"></span>
                            <span class="subtitle"></span>
                            <span class="subtext fs-3" href="#"><i class="fas fa-volleyball-ball"></i> <i class="fas fa-umbrella-beach"></i></span>
                        </span>
                    </a>

                    <a target="_top" class="album-item cardCassino" href="">
                        <span class="album-details text-center">
                            <span class="icon"><i class="fab fa-zhihu"></i> Cassino </span>
                            <span class="title"></span>
                            <span class="subtitle"></span>
                            <span class="subtext fs-3" href="#"><i class="fas fa-dice"></i> <i class="fas fa-dice-six"></i> </span>
                        </span>
                    </a>

                    </div>          
               </div>
        </div>

    </div>
          
</div>

<br />
<br />